<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.ResourcePathMapper">
    <resultMap id="BaseResultMap" type="com.web.entity.ResourcePath">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="node_id" jdbcType="INTEGER" property="nodeId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="node_path" jdbcType="VARCHAR" property="nodePath"/>
    </resultMap>
    <delete id="deleteAllPath">
    delete  FROM resourcePath WHERE node_path LIKE CONCAT( '${path}', '%')
  </delete>
    <delete id="deleteFile">
    delete  FROM resource WHERE full_path=#{path}
  </delete>
    <delete id="deleteFileAndPath">
   delete  FROM resource WHERE full_path LIKE CONCAT( '${path}', '%')
    </delete>
    <select id="selectFirst" resultType="java.lang.Integer">
        select  COUNT(id) from resourcePath where node_path=#{nodePath} and node_name=#{nodeName}
    </select>
    <select id="readPathInfoFromDb" resultType="java.util.Map">
        SELECT
        node_name as name,
        TRUE as directory,
        "" as fullPath
        FROM
        resourcePath
        <choose>
            <when test="path==''">
                WHERE is_frist=1
            </when>
            <otherwise>
                WHERE father_node=#{path}
            </otherwise>
        </choose>
        UNION
        SELECT
        resource_name as name,
        FALSE as directory,
        full_path as fullPath
        FROM
        resource
        WHERE
        path=#{path}
        <if test="userType=='user'">
            UNION
            SELECT
            r.resource_name as name,
            FALSE as directory,
            r.full_path as fullPath
            FROM share s
            LEFT JOIN resource r
            on s.resource_id=r.resource_id
            WHERE s.user_id=#{userId}
            and invented_path=#{path}
        </if>

    </select>
</mapper>