<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.ResourcePathMapper">
    <resultMap id="BaseResultMap" type="com.web.entity.ResourcePath">
        <!--
          WARNING - @mbg.generated
        -->
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="node_id" jdbcType="INTEGER" property="nodeId"/>
        <result column="node_name" jdbcType="VARCHAR" property="nodeName"/>
        <result column="node_path" jdbcType="VARCHAR" property="nodePath"/>
    </resultMap>
    <delete id="deleteAllPath">
    delete  FROM resourcePath WHERE node_path LIKE CONCAT( '${path}', '%')
  </delete>
    <delete id="deleteFile">
    delete  FROM resource WHERE full_path=#{path}
  </delete>
    <delete id="deleteFileAndPath">
   delete  FROM resource WHERE full_path LIKE CONCAT( '${path}', '%')
    </delete>
    <delete id="delSharedResource">
        delete  FROM share WHERE resource_id=#{resourceId}
    </delete>
    <delete id="delMappingResource">
       delete  FROM resourceMapping WHERE resource_id=#{resourceId}
    </delete>
    <delete id="delSharedResourceId">
        delete  FROM share WHERE share_id=#{id}
    </delete>
    <select id="selectFirst" resultType="java.lang.Integer">
        select  COUNT(id) from resourcePath where node_path=#{nodePath} and node_name=#{nodeName}
    </select>
    <select id="readPathInfoFromDb" resultType="java.util.Map">
        SELECT
        node_id as id,
        node_name as name,
        TRUE as directory,
        node_path as fullPath,
        0 as isShare,
        "" as size,
        update_time updateTime
        FROM
        resourcePath
        <choose>
            <when test="path==''">
                WHERE is_frist=1
            </when>
            <otherwise>
                WHERE father_node=#{path}
            </otherwise>
        </choose>
        UNION
        SELECT
        resource_id as id,
        resource_name as name,
        FALSE as directory,
        full_path as fullPath ,
        0 as isShare,
        size as size,
        update_time updateTime
        FROM
        resource
        WHERE
        path=#{path}
        and status=1

        UNION
        SELECT
        share_id as id,
        r.resource_name as name,
        FALSE as directory,
        r.full_path as fullPath,
        r.size as size,
        1 as isShare,
        s.update_time updateTime
        FROM share s
        LEFT JOIN resource r
        on s.resource_id=r.resource_id
        <choose>
            <when test="userType=='user'">
                WHERE s.user_id=#{userId}
            </when>
            <otherwise>
                WHERE 1=1
            </otherwise>
        </choose>
        and invented_path=#{path}


    </select>
    <select id="getResourceId" resultType="java.lang.String">
        SELECT resource_id FROM resource WHERE full_path=#{fullPath}
    </select>
    <select id="getResourceIdFromMapper" resultType="java.lang.String">
        SELECT resource_id FROM  resourceMapping WHERE take_code=#{fileCodeFromOter}
    </select>
</mapper>