<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mapper.ResourceMapper">
  <resultMap id="BaseResultMap" type="com.web.entity.Resource">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="resource_id" jdbcType="VARCHAR" property="resourceId" />
    <result column="resource_name" jdbcType="VARCHAR" property="resourceName" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="full_path" jdbcType="VARCHAR" property="fullPath" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
    <update id="updateStatus">
        UPDATE `resource` SET STATUS =#{resource.status} WHERE resource_id=#{resource.resourceId}
    </update>
    <select id="getSourceNum" resultType="java.lang.Integer">
    SELECT COUNT(id) FROM resource
    <if test="userId!=null">
      WHERE user_id=#{userId}
    </if>
    </select>
    <select id="getUploadingSource" resultType="java.util.Map">
      SELECT
        id id,
        resource_name resourceName,
        update_time updateTime
      FROM
            resource
      WHERE
            status = 0
      AND user_id = #{userId}
  </select>
  <select id="sizeHadUsred" resultType="java.lang.Double">
    SELECT ifnull(sum(size),0) FROM resource WHERE user_id=#{userId}
  </select>
  <select id="size" resultType="java.lang.Double">
    SELECT ifnull(size,0) FROM `user` WHERE user_id=#{userId}
  </select>
</mapper>